*
{
    box-sizing: border-box;
}

a
{
    color: #2A8782;
    text-decoration: none;
    transition: text-shadow 0.25s;
}
a:hover
{
    text-shadow: 0 0 4px grey;
}

body
{
    /* structure */
    margin: 0 auto;
    overflow-y: scroll;
    width: 80%;
}

